.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  text-align: center;
}
.row {
  display: flex;
  padding: 2rem 0;
}

#first,
#second {
  height: 200px;
  width: 200px;
  border: thin black solid;
  margin: 20px;
}
